[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/BLAKE3"]
	path = deps/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "deps/hashmap"]
	path = deps/hashmap
	url = https://github.com/vijayee/hashmap
[submodule "deps/libcbor"]
	path = deps/libcbor
	url = https://github.com/PJK/libcbor
[submodule "deps/xxHash"]
	path = deps/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "deps/msquic"]
	path = deps/msquic
	url = https://github.com/microsoft/msquic.git
[submodule "deps/poll-dancer"]
	path = deps/poll-dancer
	url = https://github.com/vijayee/poll-dancer.git
[submodule "deps/pcre2"]
	path = deps/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
