<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="OFFS" Language="1033" Version="0.1.0"
           Manufacturer="Prometheus-SCN" UpgradeCode="12345678-1234-1234-1234-123456789ABC">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="Complete" Title="OFFS" Level="1">
      <ComponentGroupRef Id="Binaries" />
    </Feature>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="OFFS">
          <Component Id="OffsDaemon" Guid="22345678-1234-1234-1234-123456789ABC">
            <File Id="offsDaemonExe" Name="offs-daemon.exe" Source="offs-daemon.exe" KeyPath="yes" />
            <ServiceInstall Id="OffsDaemonService" Type="ownProcess" Name="offs-daemon"
                            DisplayName="OFFS Daemon" Description="Owner Free File System Daemon"
                            Start="auto" ErrorControl="normal" />
            <ServiceControl Id="OffsDaemonControl" Name="offs-daemon"
                            Stop="both" Remove="uninstall" Wait="yes" />
          </Component>
          <Component Id="OffsCli" Guid="32345678-1234-1234-1234-123456789ABC">
            <File Id="offsCliExe" Name="offs.exe" Source="offs.exe" KeyPath="yes" />
            <Environment Id="OffsPath" Action="set" Name="PATH"
                         Part="last" System="yes" Value="[INSTALLDIR]" />
          </Component>
          <Component Id="OffsUpdater" Guid="42345678-1234-1234-1234-123456789ABC">
            <File Id="offsUpdaterExe" Name="offs-updater.exe" Source="offs-updater.exe" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <ComponentGroup Id="Binaries">
      <ComponentRef Id="OffsDaemon" />
      <ComponentRef Id="OffsCli" />
      <ComponentRef Id="OffsUpdater" />
    </ComponentGroup>
  </Product>
</Wix>
